
src/src/S4/lib
src/src/S4/include
src/build
build
src/setup.py
doc/build
doc/generated
doc/api
doc/examples
doc/sg_execution_times.rst
pys4.egg-info
dist
*.egg-info
wheelhouse
htmlcov
.coverage
.pytest_cache
*__pycache__
